# ignoring project config directories:
.idea
.vscode
scripts/__pycache__/*

# ignoring Data and Models directories in Assets since them are really heavy
Assets/*
!Assets/Logs
!Assets/Configs

# Let's ignore the home tests
Assets/Logs/home_test_logs/*
