# ignoring project config directories:
**/.idea/
**/.vscode/
**/__pycache__/
**/wandb/
/outputs/

# ignoring Data and Models directories in Assets since them are really heavy
/Assets/*
!/Assets/Logs/
!/Assets/Configs/

# Let's ignore the home tests
/Assets/Logs/home_test_logs/

# Let's ignore the notebook for testing
/*_home.*
/scripts/*_home.*

/Assets/Configs/*_home.json
/Assets/Configs/*_test.json
/scripts/train_test_home.py
