# ignoring project config directories:
/.idea/
/.vscode/
# **/__pycache__/
__pycache__/

# ignoring Data and Models directories in Assets since them are really heavy
/Assets/*
!/Assets/Logs/
!/Assets/Configs/

# Let's ignore the home tests
/Assets/Logs/home_test_logs/

# Let's ignore the notebook for testing
/testing_nb.ipynb
/home_main.py

/Assets/Configs/*_home.json
/Assets/Configs/*_test.json